<%= form_for(@recipe) do |f| %>
	<% if @recipe.errors.any? %>
		<h2><%= pluralize(@recipe.errors.count, "error") %>
			stopped this recipe from saving: </h2>
		<ul>
			<% @recipe.errors.full_messages.each do |msg| %>
				<li> <%= msg %> </li>
			<% end %>
		</ul>
	<% end %>

  <form>
  	<fieldset>
  		<legend> Recipe info </legend>
  		<%= f.label :recipe_name %>
  		<%= f.text_field :recipe_name %>
  		<%= f.label :difficulty_level %>
  		<%= f.text_field :difficulty_level %>
  		<%= f.label :total_time %>
  		<%= f.text_field :total_time %>
  		  <%= f.label :ingredient_count %>
  		<%= f.text_field :ingredient_count %>
  		<%= f.submit :class => 'add_button' %>
  	</fieldset>

  </form>
<% end %>